@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<html>
    <head>
        <title>Task</title>
    </head>
    <body>
        @Html.React("TaskPage", new { })
        <script src="@Url.Content("~/js/components/TaskPage.jsx")"></script>
    </body>
</html>