@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<html>
    <head>
        <title>Sign in</title>
    </head>
    <body>
        @Html.React("LoginPage", new { })
        <script src="@Url.Content("~/js/components/LoginPage.jsx")"></script>
    </body>
</html>