@model COCOA.ViewModels.CourseSubViewModel
@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<html>
<head>
    <title>Hello COCOA</title>

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    @Html.React("DocumentUploadPage", new {
        data = Model
    })
    <script src="@Url.Content("~/js/components/DocumentUploadPage.jsx")"></script>

    @Html.ReactInitJavaScript()
</body>
</html>