@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}
<html>
    <head>
        <title>COCOA</title>
    </head>
    <body>
        @Html.React("HomePage", new { });
        <script src="@Url.Content("~/js/components/HomePage.jsx")"></script>
    </body>
</html>